body {
  background-color: #E1F5C4; }

header {
  background-color: #FF4E50;
  text-align: center;
  color: #E1F5C4;
  padding: 15px;
  z-index: 9999999; }
  header ul {
    display: inline-block;
    float: right;
    list-style-type: none; }
    header ul li {
      display: inline-block;
      margin-left: 70px; }
    header ul li:hover {
      text-decoration: underline; }
  header h1 {
    margin: 0;
    display: inline-block;
    margin-left: 285px; }

#saveCont, #loadCont {
  background-color: #FF4E50;
  position: absolute; }

#saveCont {
  width: 125px;
  right: 111px;
  border-radius: 5px;
  padding: 5px; }
  #saveCont input {
    width: 100%;
    display: inline-block;
    background-color: #e70003;
    border: none;
    color: #FF4E50;
    color: #ffb4b5; }
  #saveCont input::-webkit-input-placeholder {
    color: #ffb4b5; }
  #saveCont button {
    display: inline-block;
    width: 45%;
    background-color: #ff9b9c;
    border: none;
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px; }

section {
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #FC913A;
  padding: 10px; }
  section ul {
    margin-right: 65px;
    margin-bottom: 0; }
    section ul li {
      display: inline-block;
      color: #E1F5C4;
      margin-top: 5px;
      margin-right: 20px; }
    section ul li:hover {
      text-decoration: underline; }
  section h3 {
    margin: 0;
    color: #E1F5C4;
    margin-bottom: 5px;
    margin-right: 52px; }
  section input, section button {
    background-color: #e66904;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    color: #E1F5C4; }
  section button {
    background-color: #fdad6c; }
  section input::-webkit-input-placeholder {
    color: #FC913A; }

main :nth-child(1) {
  background-color: #f9d423 !important; }

main :nth-child(2) {
  background-color: #f4d648 !important; }

main :nth-child(3) {
  background-color: #f2dc70 !important; }

main :nth-child(4) {
  background-color: #f1e298 !important; }

main .todos {
  margin-top: 15px;
  padding: 5px;
  display: inline-block;
  background-color: #f1e6b1;
  border-radius: 5px; }
  main .todos div {
    background-color: inherit !important; }
  main .todos i, main .todos p {
    display: inline-block;
    font-size: 30px;
    color: #5a5a5a;
    background-color: inherit !important;
    margin-top: 5px; }
    main .todos i strike, main .todos i span, main .todos p strike, main .todos p span {
      background-color: inherit !important; }
  main .todos i {
    margin-top: 10px;
    background-color: inherit !important; }

main :nth-child(1) {
  background-color: #f9d423; }
