//General Style
$red: #FF4E50;
$orange: #FC913A;
$yellow: #F9D423;
$offwhite: #EDE574;
$white: #E1F5C4;
body{
  background-color: $white;
}
//header Style
header{
  background-color: $red;
  text-align: center;
  color: $white;
  padding: 15px;
  z-index: 9999999;
  ul{
    display: inline-block;
    float: right;
    list-style-type: none;
    li{
      display: inline-block;
      margin-left: 70px;
    }
    li:hover{
      text-decoration: underline;
    }
  }
  h1{
    margin: 0;
    display: inline-block;
    margin-left: 285px;
  }
}
#saveCont,#loadCont{
  background-color: $red;
  position: absolute;
}
#saveCont{
  width: 125px;
  right: 111px;
  border-radius: 5px;
  padding: 5px;
  input{
    width: 100%;
    display: inline-block;
    background-color: darken($red,20);
    border: none;
    color: $red;
    color: lighten($red,20);
  }
  input::-webkit-input-placeholder {
    color: lighten($red,20);
  }
  button{
    display: inline-block;
    width: 45%;
    background-color: lighten($red,15);
    border: none;
    color: black;
    margin-bottom: 5px;
    margin-top:5px;
    border-radius: 5px;
  }
}
//style for input box
section{
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  background-color: $orange;
  padding: 10px;
  ul{
    margin-right: 65px;
    margin-bottom: 0;
    li{
      display: inline-block;
      color: $white;
      margin-top: 5px;
      margin-right: 20px;
    }
    li:hover{
      text-decoration: underline;
    }
  }
  h3{
    margin: 0;
    color:$white;
    margin-bottom: 5px;
    margin-right: 52px;
  }
  input,button{
    background-color: darken($orange,15);
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    color:$white;
  }
  button{
    background-color: lighten($orange,10);
  }
  input::-webkit-input-placeholder {
    color: $orange;
  }
}
//style for all list items
main{
  :nth-child(1){
    background-color: #f9d423 !important;
  }
  :nth-child(2){
    background-color: #f4d648 !important;
  }
  :nth-child(3){
    background-color: #f2dc70 !important;
  }
  :nth-child(4){
    background-color: #f1e298 !important;
  }

  .todos{
    margin-top:15px;
    padding: 5px;
    display: inline-block;
    background-color: #f1e6b1;
    border-radius: 5px;
    div{
      background-color: inherit !important;
    }
    i,p{
      display: inline-block;
      font-size:30px;
      color: darken(grey,15);
      background-color: inherit !important;
      margin-top: 5px;
      strike,span{
        background-color: inherit !important;
      }
    }
    i{
      margin-top: 10px;
      background-color: inherit !important;
    }
  }
  :nth-child(1){
    background-color: #f9d423;
  }
}
